<h1>CAMERA IMAGES</h1>
<div class="index-page">
	<div class="images-container">
		<% @data[:payload]['images'].each do |image| %>
			<div class="image-container">
				<div class="image" style="background-image:url(<%= image['medium_url'] %>)">
			</div>
			<div class="bottom-container">
				<% if (image['make']) %>
					<a class="make" href="/make?q=<%= image['make'] %>" >Make: <%= image['make'] %></a>
				<% else %>
					<a class="make"> Make: N/A </a>
				<% end %>
				<% if (image['model']) %>
					<a class="model" href="/model?q=<%= image['model'] %>" >Model: <%= image['model'] %></a>
				<% else %>
					<a class="model"> Model: N/A </a>
				<% end %>
			</div>
			</div>						
		<% end %>
	</div>
</div>

