<!DOCTYPE html>
<html>
  <head>
    <title>Redbubble</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
      <div class="container">
        <div class="home">
          <a href="/" >HOME</a>
        </div>

        <div class="dropdown" style="position:relative">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">MAKE <span class="caret"></span></a>
          <ul class="dropdown-menu multi-level">
            <% @data['makes'].keys().each do |key| %>        
            <li class="dropdown-submenu">
                <a href="/make?q=<%= key %>" class="dropdown-toggle"><%= key %></a>
                <ul class="dropdown-menu">
                  <% @data['makes'][key]['models'].each do |model| %>
                    <li><a href="/model?q=<%= model %>"><%= model %></a></li> 
                    <% end %>                               
                </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div>  		
  	</header>
    <div class="container">
      <%= yield %>
      
    </div>
  </body>
</html>
