<!DOCTYPE html>
<html>
  <head>
    <title>Redbubble</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
      <div class="container">
        <div class="home">
          <i class="fa fa-home"></i>
          <a href="/" >HOME</a>
        </div>
        
      </div>  		
  	</header>
    <div class="container">
      <div class="navigation">
        <% @data[:payload]['makes'].keys().each do |key| %>        
          <div class="list <%= (key) ? '' : 'hidden' %>">
              <a href="/make?q=<%= key %>" class="camera-make"><%= key %></a>
              <ul class="list-dropdown">
                <% @data[:payload]['makes'][key]['models'].each do |model| %>
                  <li>
                    <a href="/model?q=<%= model %>" class="<%= (model) ? '' : 'hidden' %>"><%= model %></a>
                  </li> 
                  <% end %>                               
              </ul>
          </div>
        <% end%>
      </div>
      <%= yield %>      
    </div>
  </body>
</html>
